body	{
	background-color:#ffffff;
	color: #505050;
}
p 	{
	line-height: 0.25;
  font-size: 18px;
}
h1  {
  font-size: 32px;
}
h2  {
  font-size: 25px; 
}
h3  {
  font-size: 12px;
}
a	{
	color: #505050;
  text-decoration: none;
}
header {
  background-color: #bebebe;
  position: fixed;
  padding: 45px 15px 20px 45px;
  width: 100%;
  top: 0px;
  left: 0px;
  }
#side {
  position: fixed;
  transform: rotate(270deg);
  bottom: 150px;
  left: -45px;
  font-size: 20px;
  word-spacing: 30px;
}
#content	{
  margin-left: 85px;
  margin-right: 85px;
  margin-top: 165px;
  text-align: left;
}
#top {
  text-align: center;
}
#projects	{
  width: 500px;
  height: 750px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}
#footer	{ 
  background-color: #bebebe;
	font-size:10px;
  padding: 5px 15px 8px 15px;
	word-spacing: 0.5px;
	letter-spacing: 1px;
	text-align: center;
}
